{% extends 'base.html' %}
{% block title %}Log-in{% endblock %}

{% block content %}
<div class="col-md-8">
 <div class="modal-dialog">
	{% if form.errors %}
	<p class="text-danger">Your username and password didn't match. Please try again.</p>
	{%else%}
	<p class="text-info">Please make use of the form below to login</p>
	{%endif%}
	<div class="loginmodal-container">
		<h1 class="text-center">Login to Your Account</h1><br>
		<form action="{% url 'login' %}" method="POST">
		{{ form.as_p }}
		{% csrf_token %}
		<input type="hidden" name="next" value="{{next}}"/>
		<input type="submit" class="login loginmodal-submit" value="Login">
	</form>
	<div class="login-help">
		<a href="{%url "register"%}">Register</a> - <a href="{% url "password_reset" %}">Forgot password</a>
	</div>
	</div>
	<div class="social">
		<ul>
			<li class="facebook">
				<a href="{% url "social:begin" "facebook" %}">Login with Facebook </a>
			</li>
		</ul>
	</div>
	</div>
	</div>

	{% endblock %}
		
	